<h1>Home#elise</h1>
<p>Find me in app/views/home/elise.html.erb</p>
<p>My name is <%= @name %></p>
<a href="/home/index">Go Home</a> === <%= link_to "Go Home", home_index_path, class: 'yellow', id: 'blue' %>

<%= link_to "Some Page", some_path %>
<%= link_to "Some Page", some_path %>
<%= link_to "Some Page", some_path %>
